<h2>Dashboard</h2>
<body class="users">

<br>
<div class="about">
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="dashpic" src="{{data.user.imageUrl}}" /><br>
            <a href="/user/{{data.user._id}}/pic">Change Profile Picture</a><br>
            <a class="btn btn-primary" href="/trainer/#/message">Inbox</a><br>

            <strong>
            <div>
                <strong>Name: </strong>{{data.user.firstname}} {{data.user.lastname}}
            </div>
            <div>
                <strong>Email: </strong>{{data.user.email}}
            </div>
            <div>
                <strong>Gender: </strong>{{data.user.gender}}
            </div>
            <div>
                <strong>Address: </strong><br>{{data.user.address}}
            </div>
            <div>
                {{data.user.city}}
            </div>
            <div>
                {{data.user.state}},
                {{data.user.zipcode}}
            </div>
            <!-- <div>
                {{data.user.phone}}
            </div> -->
            {{#if user.train}}
            <div>
                <strong> Gym Address </strong>{{data.user.address2}}
            </div>
            <div>
                {{data.user.city2}}
            </div>
            <div>
                {{data.user.state2}}
            </div>
            <div>
                {{data.user.zipcode2}}
            </div>
            <div>
                {{data.user.phone2}}
            </div>
            <strong>Certifications</strong>
            <div>
                {{data.user.certification}}
            </div>
            {{/if}}
            {{#if user.admin}}
            <div>
                <strong> Gym Address </strong>{{data.user.address2}}
            </div>
            <div>
                {{data.user.city2}}
            </div>
            <div>
                {{data.user.state2}}
            </div>
            <div>
                {{data.user.zipcode2}}
            </div>
            <div>
                {{data.user.phone2}}
            </div>
            <strong>Certifications</strong>
            <div>
                {{data.user.certification}}
            </div>
        </strong>
            {{/if}}
            <a href="/user/{{ data.user._id }}/edit">Edit Profile</a><br>
        </div>
    </div>
</div>



<div class="about1">
    <div class="panel panel-default">
        <div class="panel-body">
            {{#if user.client}}
            <div>
            <strong>Your Trainer:  {{data.user.trainer.firstname}}</strong><br>
            <img class="dashpic" src="{{data.user.trainer.imageUrl}}" />
            </div><br>
            <div>
                <a class="btn btn-primary" href="/trainer/#/message">Contact Trainer</a><br>
                <a href="/trainer/#/trainer-map">Change Your Trainer</a><br>

            </div>
            {{/if}}

            {{#if user.train}}
            <div>
                <strong>To go to your workouts</strong>
                <a class="btn btn-primary" href="/trainer/#/workout">Workouts</a>
            </div>
            <div>
                <strong>To contact your clients click here</strong>
                <a class="btn btn-primary" href="/trainer/#/message">Message</a>
            </div>
            {{/if}}
        </div>
    </div>
</div>


</body>
