<h2>Your Clients</h2>

<!-- I DONT KNOW WHY BELOW ISN'T WORKING! -->
<!-- <p>Welcome, {{data.user.firstname}}!</p> -->

<div class="client">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Here is a list of your clients.</h3><p> By clicking on any client's name, you can create a workout schedule and message them. Lets get fit!</p>
        </div>
    </div>
</div>


{{#each data.user}}
<div class="client1">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <strong>Name: </strong><a href="/trainer/#/message/connect">{{ firstname }} {{ lastname }}</a>
            </div>
            <div>
                <strong>Gender: </strong>{{ gender }}
            </div>
            <div>
                <strong>City: </strong>{{ city }}
            </div>
            <div>
                {{ imageUrl }}
            </div>
        </div>
    </div>
</div>
{{/each}}
