<h2>View User</h2>

<a href="/user/{{ data.user.id }}/edit">Edit User</a>
<a href="/user/{{ data.user.id }}/delete">Delete User</a>


<div>
    <div>
        <strong>Name </strong>{{data.user.firstname}} {{data.user.lastname}}
    </div>
    <div>
        <strong>Email </strong>{{data.user.email}}
    </div>
    <div>
        <strong>Gender </strong>{{data.user.gender}}
    </div>
    <div>
        <strong>Address </strong>{{data.user.address}}
    </div>
    <div>
        {{data.user.city}}
    </div>
    <div>
        {{data.user.state}}
    </div>
    <div>
        {{data.user.zipcode}}
    </div>
    <div>
        {{data.user.phone}}
    </div>
    <div>
        <strong>Type </strong>{{data.user.type}}
    </div>
</div>
