<body class="users">
    <h2>View User</h2>
    <a href="/user/{{ data.user.id }}/edit">Edit User</a>
    <a href="/user/{{ data.user.id }}/delete">Delete User</a>
    <!-- {{#if user.train}}
    <a href="/user/{{ data.user.id }}/edit">Edit User</a>
    {{/if}} -->
    <div class="info">
        <div>
            <img src="{{data.user.imageUrl}}">
        </div>
        <div>
            <strong>Name </strong>{{data.user.firstname}} {{data.user.lastname}}
        </div>
        <div>
            <strong>Email </strong>{{data.user.email}}
        </div>
        <div>
            <strong>Gender </strong>{{data.user.gender}}
        </div>
        <div>
            <strong>Address </strong>{{data.user.address}}
        </div>
        <div>
            {{data.user.city}}
        </div>
        <div>
            {{data.user.state}}
        </div>
        <div>
            {{data.user.zipcode}}
        </div>
        <div>
            {{data.user.phone}}
        </div>
        <strong>Status </strong>{{data.user.status}}
        <strong>Type </strong>{{data.user.type}}

        <div>
            <strong> Gym Address </strong>{{data.user.address2}}
        </div>
        <div>
            {{data.user.city2}}
        </div>
        <div>
            {{data.user.state2}}
        </div>
        <div>
            {{data.user.zipcode2}}
        </div>
        <div>
            {{data.user.phone2}}
        </div>
        <strong>Certifications</strong>
        <div>
            {{data.user.certification}}
        </div>
        <a href="/user/{{data.user.id}}/pic">Change Profile Picture</a>
    </div>
</body>
